.service{
    width: 300px;
    height: 400px;
    border: 2px solid gray;
    border-radius: 8px;
    position: relative;
}
.service img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
 
}
.service-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}
.service-info{
    margin:0 14px;
}
.service-info p{
    margin-bottom: 0px;
    margin-top: 5px;
    
}
 /* .service-time{
    margin-bottom: 7px;
}  */
.btn-cart{
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center; 

}
.btn-cart:hover{
    background-color: orange;
}
.btn-cart .btn-text{
   margin-right: 5px;
}



