.exercise-Container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: gold;
    display: inline;
    border: 1px whitesmoke;
}
@media screen and (max-width:1100) {
    .exercise-Container{
    grid-template-columns: 1fr;
    }
}
/* @media screen and (max-width:700) {
    .products-container{
        width: 100%;
    }
} */

/* @media only screen and (min-width: 700px) {

    .exercise-Container {
      flex-direction: row;
    }
  
    .products-container{
      width: 30%;
      flex-direction: column;
    }
  
  }
   */